<ion-card>
    <ion-img (click)="onOpenBrowser()" *ngIf="article.urlToImage" [src]="article.urlToImage"></ion-img>
    <ion-card-header>

        <ion-card-subtitle>
            <ion-row class="ion-align-items-center">
                <ion-col >
                    <ion-label color="primary">{{index}}. </ion-label>
                    <span>{{article.author}}</span>
                </ion-col>
                <ion-col >
                    <ion-button (click)="presentActionSheet()" class="ion-float-right" fill="clear">
                        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-subtitle>
        <ion-card-title (click)="onOpenBrowser()">{{article.title}}</ion-card-title>
    </ion-card-header>
</ion-card>
